.card {
  margin-top: 20px;
  border: solid, #54b3a9;
}

.weather-app-wrapper {
  max-width: 700px;

  margin: 20px auto;
}

.border-info {
  border-color: #54b3a9;
}

p.build-info {
  text-align: center;
  padding-top: 10px;
  color: #626a7c;
}

::placeholder {
  color: #54b3a9;
}
